@{
    ViewBag.Title = "Home Page";
}
<h1 style="text-align: center">Вітаємо вас на сайті нашої школи! Тут ви можете знайти все, що Вам необхідно знати! 
    Якщо ви є учнем або учителем - авторизуйтеся!</h1>