@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}



@{
    ViewBag.Title = "Teacher_Subject";
}

<body>
    <h2>Учителі та предмети</h2>


    <table class="table">
        <tr>
            <th>
                <input type="text" id="search_id" class = "form-control"/>
                <button onclick="Search()" class="btn btn-default">Пошук</button>
            </th>
            <th></th>
            <th></th>
            <th>
                Сортувати за:
            </th>
            <th>
                <div id="criterias">
                    <input type="radio" name="cr" value="1" onchange="Search()" id="sub" />Предметом<br />
                    <input type="radio" name="cr" value="2" onchange="Search()" id="teach" />Учителем<br/>
                    <input type="checkbox" id="all" onchange="Search()"/>Показати всіх
                </div>
            </th>
        </tr>
        <tr>
            <th>
                Предмет
            </th>
            <th>
                Учитель
            </th>
            <th></th>
        </tr>

        @foreach (var item in ViewBag.TS)
        {
            <tr>
                <td>
                    @item.Subject
                </td>
                <td>
                    @item.Teachers.Teacher_name
                </td>

            </tr>
        }

    </table>



    <script>
        window.onload = function () {
            let urlParams = new URLSearchParams(window.location.search);
            let cr = urlParams.get('cr');
            let all = urlParams.get('all');
            let val = urlParams.get('val')
            if (cr == 2)
                this.document.getElementById("teach").checked = true;
            else
                this.document.getElementById("sub").checked = true;
            if (all == 1)
                CheckAll();
            $('#search_id').val(val);

        }  

        function Search() {
            let val = document.getElementById('search_id').value;
            var selectedOption = $("input:radio[name=cr]:checked").val();
            let all;
            if (document.getElementById("all").checked)
                all = 1;
            else
                all = 0;
            window.location.href = "Teacher_Subject?cr=" + selectedOption + "&all=" + all + "&val=" + val;
        }

          function CheckAll() {
            var nodes = document.getElementsByTagName("INPUT");
            for (var i = 0; i < nodes.length; i++) {
                if (nodes[i].type == "checkbox")
                    nodes[i].checked = true;
            }
        };

    </script>
</body>